
# Imports
importFrom(R6,R6Class)
importFrom(jsonlite,fromJSON)
importFrom(jsonlite,toJSON)

# Core
export(ApiClient)
export(ApiResponse)

# Models
export(AccessCitation)
export(Activity)
export(ActivityEvent)
export(ActivitySpec)
export(Credential)
export(Document)
export(DurationInterval)
export(DurationIntervalLegacy)
export(DynamicAttachment)
export(Error)
export(Metadata)
export(Participant)
export(Researcher)
export(Sensor)
export(SensorEvent)
export(SensorSpec)
export(Study)
export(TemporalSlice)

# APIs
export(APIApi)
export(ActivityApi)
export(ActivityEventApi)
export(ActivitySpecApi)
export(CredentialApi)
export(ParticipantApi)
export(ResearcherApi)
export(SensorApi)
export(SensorEventApi)
export(SensorSpecApi)
export(StudyApi)
export(TypeApi)

# Connector
export(LAMP.connect)
